<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
  
  <appSettings>
    <add key="MerchantNumber" value="HM1406170018"/>
    <add key="ClientId" value="ibxairqm" />
    <add key="ClientSecret" value="vknurxqy" />
  </appSettings>
</configuration>
